<div class="py-4 px-4">
    {{#if (isdefined isCreate)}}
        <h3 class="text-sucess">Chỉnh sửa thành công</h3>
    {{else if (isdefined isCreate)}}
        <h3 class="text-error">Đã xảy ra lỗi</h3>
    {{/if}}
    <div class="row">
        {{!-- Form create new product --}}
        <form method="POST" action='/products/{{product._id}}/update?_method=PUT'>
            <legend>Chỉnh sửa sản phẩm</legend>
            <div class="form-group">
                <label for="name">Tên sản phẩm</label>
                <input type="text" class="form-control" value="{{product.name}}" id="name" name="name" placeholder="Nhập tên khóa học">
            </div>
            <div class="form-group">
                <label for="price">Giá sản phẩm</label>
                <input type="number" class="form-control" id="price" name="price" value="{{product.price}}">
            </div>
            <div class="form-group">
                <label for="value">Giá trị dinh dưỡng</label>
                <input type="number" class="form-control" id="value" name="value" value="{{product.value}}">
            </div>
            <div class="form-group">
                <label for="quantity">Số lượng tối đa trên lần mua</label>
                <input type="number" class="form-control" id="quantity" name="quantity" value="{{product.quantity}}" >
            </div>
            <div class="form-group">
                <label for="desription" >Mô tả sản phẩm</label>
                <textarea type="text" class="form-control"  id="description" name="description"  rows="3">{{product.description}}</textarea>
                
            </div>
            <div class="form-group">
                <label for="image">Chọn ảnh</label>
                <input type="file" class="form-control" id="image" name="image">
                <div class="review-image" style="width:150px;height: 150px">
                    <img class="d-inline-block w-100" src="{{product.images.[0]}}" alt="" srcset="">
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary">Lưu</button>
        </form>

    </div>

</div>