{{!-- Show list Courses --}}
<div class="py-4">
    <span >Số tiền còn lại: {{balance}}</span>
    <div class="row">
        {{#each products}}
            <div class="mt-4 col-sm-3">
                <div class="card">
                    <img class="card-img-top" src='http://localhost:3000/img/products/{{this.image}}' alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-truncate"><a href="/products/{{this.slug}}/show" class="text-primary">{{this.name}}</a></h5>
                        <div>Giá: {{this.price}}</div>
                        <div>Số lượng: 1</div>
                        <div>Giá trị dinh dưỡng: {{this.value}}</div>
                        <p class="card-text text-line-clamp--3" >{{this.description}}</p>
                    </div>
                </div>       
            </div>
        {{/each}}
    </div>
    <button class="btn btn-primary mt-4">Mua ngay</button>
</div>

