{{!-- Show list Courses --}}
<form class="py-4" action="/orders/create" method="post">
    <span >Số tiền còn lại: {{balance}}</span>
    <div class="row">
        {{#each products}}
            <div class="mt-4 col-sm-3">
                <div class="card">
                    <input type="text" name="products[]" value="{{this._id}}" hidden>
                    <input type="text" name="quantitys[]" value="{{this.sl}}" hidden>
                    <img class="card-img-top p-3" src='{{this.images.[0]}}' alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-truncate"><a href="/products/{{this.slug}}/show" class="text-primary">{{this.name}}</a></h5>
                        <div>Giá: {{this.price}}</div>
                        <div>Số lượng: {{this.sl}}</div>
                        <div>Số lượng tối đa: {{this.quantity}}</div>
                        <p class="card-text text-line-clamp--3" >{{this.description}}</p>
                    </div>
                </div>       
            </div>
        {{/each}}
    </div>
    <button type="submit" class="btn btn-primary mt-4">Mua ngay</button>
    
</form>

