<div class="mt-4">
    <a class="btn btn-primary" href="/products/create" >Thêm sản phẩm</a>

    <div class="row">
        <div class="mt-4 col-sm-3">
            <div class="card">
                <img class="card-img-top" src="https://img.youtube.com/vi/PNhYz6RmIr4/sddefault.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><a href="/courses/{{this.slug}}">{{this.name}}</a></h5>
                    <p class="card-text">{{this.desription}}</p>
                    <a href="#" class="btn btn-primary">Học ngay</a>
                </div>
            </div>       
        </div>

        <div class="mt-4 col-sm-3">
            <div class="card">
                <img class="card-img-top" src="https://img.youtube.com/vi/PNhYz6RmIr4/sddefault.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><a href="/courses/{{this.slug}}">{{this.name}}</a></h5>
                    <p class="card-text">{{this.desription}}</p>
                    <a href="#" class="btn btn-primary">Học ngay</a>
                </div>
            </div>       
        </div>

        <div class="mt-4 col-sm-3">
            <div class="card">
                <img class="card-img-top" src="https://img.youtube.com/vi/PNhYz6RmIr4/sddefault.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><a href="/courses/{{this.slug}}">{{this.name}}</a></h5>
                    <p class="card-text">{{this.desription}}</p>
                    <a href="#" class="btn btn-primary">Học ngay</a>
                </div>
            </div>       
        </div>

        <div class="mt-4 col-sm-3">
            <div class="card">
                <img class="card-img-top" src="https://img.youtube.com/vi/PNhYz6RmIr4/sddefault.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><a href="/courses/{{this.slug}}">{{this.name}}</a></h5>
                    <p class="card-text">{{this.desription}}</p>
                    <a href="#" class="btn btn-primary">Học ngay</a>
                </div>
            </div>       
        </div>
    </div>


</div>